* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-bg {
  background-color: #F4A261;
}

/* HEADER */
.bg-header {
  background-color: #faf9f6;
}

nav div a .logo-rm {
  width: 60px;
  height: 60px;
}

/* MAIN */
.main-index {
  height: 75vh;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 40%);
  gap: 1.5rem;
  align-content: center;
  text-align: center;
}
.main-index .imagen-main {
  align-content: center;
}
.main-index .imagen-main img {
  width: 90%;
  border-radius: 50%;
}
.main-index .text-main {
  text-align: center;
  align-content: center;
}
.main-index .text-main p {
  padding: 1rem;
}
.main-index .text-main button {
  width: 90px;
  height: 40px;
  background-color: #8F2907;
  border-radius: 15%;
  border: 2px solid #8F2907;
  cursor: pointer;
}
.main-index .text-main button:hover {
  background-color: #F4A261;
}
.main-index .text-main button a {
  color: #FAF9F6;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #1E2D2F;
  color: #FAF9F6;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
footer .logo-footer img {
  width: 60px;
  height: 60px;
}
footer .redes {
  display: none;
}

/* ESTILOS DEL MENU */
.main-menu .titulo-menu {
  text-align: center;
  padding: 20px;
}
.main-menu .menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
  align-content: center;
  text-align: center;
  padding-bottom: 1.5rem;
}
.main-menu .menu .card {
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu .menu .card img {
  width: 20%;
}
.main-menu .menu .card .text-card {
  font-size: 10px h2;
  font-size-font-size: 12px;
}
.main-menu .menu .card .boton-card {
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: #8F2907;
  border-radius: 15%;
  border: 2px solid #8F2907;
  cursor: pointer;
}
.main-menu .menu .card .boton-card:hover {
  background-color: #F4A261;
}
.main-menu .menu .card .boton-card a img {
  width: 10px;
  height: 10px;
}

/* Estilos para tablet */
@media screen and (min-width: 600px) {
  /* HEADER */
  nav div a .logo-rm {
    width: 80px;
    height: 80px;
  }
  /* MAIN */
  .main-index {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 30%;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  .main-index .text-main p {
    font-size: 25px;
  }
  .main-index .text-main button {
    width: 120px;
    height: 70px;
    font-size: 20px;
  }
  /* FOOTER */
  footer .logo-footer img {
    width: 80px;
    height: 80px;
  }
  footer .redes {
    display: block;
  }
  footer .redes ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
  /* ESTILOS DEL MENU */
  .main-menu .menu {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .main-menu .menu .card .text-card p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* ESTILOS DESKTOP */
@media screen and (min-width: 1024px) {
  .main-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  /* ESTILOS DE MENU */
  .main-menu .menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  .main-menu .menu .card {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .main-menu .menu .card img {
    width: 40%;
  }
  .main-menu .menu .card .text-card p {
    font-size: larger;
  }
  .main-menu .menu .card .boton-card {
    width: 150px;
    height: 50px;
  }
  .main-menu .menu .card .boton-card a img {
    width: 25px;
    height: 25px;
  }
}

/*# sourceMappingURL=main.css.map */
