* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-bg {
  background-color: #F4A261;
}

/* HEADER */
.bg-header {
  background-color: #faf9f6;
}

nav div a .logo-rm {
  width: 60px;
  height: 60px;
}

/* MAIN */
.main-index {
  height: 75vh;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 40%);
  gap: 1.5rem;
  align-content: center;
  text-align: center;
}
.main-index .imagen-main {
  align-content: center;
}
.main-index .imagen-main img {
  width: 90%;
  border-radius: 50%;
}
.main-index .text-main {
  text-align: center;
  align-content: center;
}
.main-index .text-main p {
  padding: 1rem;
}
.main-index .text-main button {
  width: 90px;
  height: 40px;
  border-radius: 15%;
  cursor: pointer;
  background-color: #8F2907;
  border: 2px solid #8F2907;
}
.main-index .text-main button:hover {
  background-color: #F4A261;
}
.main-index .text-main button a {
  color: #FAF9F6;
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #1E2D2F;
  color: #FAF9F6;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
footer .logo-footer img {
  width: 60px;
  height: 60px;
}
footer .redes {
  display: none;
}

/* ESTILOS DEL MENU */
.main-menu {
  height: 80vh;
}
.main-menu .titulo-menu {
  text-align: center;
  padding: 20px;
}
.main-menu .menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 1.5rem;
  align-content: center;
  text-align: center;
  padding-bottom: 1.5rem;
}
.main-menu .menu .card {
  background-color: #FFFFB3;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-menu .menu .card img {
  width: 20%;
  object-fit: contain;
}
.main-menu .menu .card .text-card {
  font-size: 10px;
}
.main-menu .menu .card .text-card h2 {
  font-size: 12px;
}
.main-menu .menu .card .text-card p {
  padding-left: 5px;
  padding-right: 5px;
}
.main-menu .menu .card .boton-card {
  width: 50px;
  height: 50px;
  align-items: center;
  border-radius: 15%;
  cursor: pointer;
  background-color: #8F2907;
}
.main-menu .menu .card .boton-card:hover {
  background-color: #F4A261;
}
.main-menu .menu .card .boton-card a img {
  width: 10px;
  height: 10px;
}

/* ESTILOS DE LA UBI */
.main-ubi {
  margin: 1rem;
}
.main-ubi .cont-ubi {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 35% 35% 10%;
  gap: 1.5rem;
  align-content: center;
  text-align: center;
  row-gap: 1rem;
  align-items: center;
}
.main-ubi .cont-ubi img {
  width: 50%;
  padding-bottom: 10px;
}

/* ESTILOS DE CONTACTO */
.main-contacto .cont-contacto {
  display: flex;
  flex-direction: column-reverse;
}
.main-contacto .cont-contacto div form {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
}
.main-contacto .cont-contacto .img-cont {
  text-align: center;
}
.main-contacto .cont-contacto .img-cont .avatar {
  width: 50%;
  border-radius: 50%;
  padding-top: 15px;
  padding-bottom: 10px;
}

/* ESTILOS DE ABOUT */
.main-about .cont-about {
  display: flex;
  flex-direction: column;
}
.main-about .cont-about .text-about {
  text-align: center;
  padding: 10px;
}
.main-about .img-about {
  text-align: center;
  padding-bottom: 2rem;
}
.main-about .img-about img {
  width: 80%;
}

/* Estilos para tablet */
@media screen and (min-width: 600px) {
  /* HEADER */
  nav div a .logo-rm {
    width: 80px;
    height: 80px;
  }
  /* MAIN */
  .main-index {
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 30%;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  .main-index .text-main p {
    font-size: 25px;
  }
  .main-index .text-main button {
    width: 120px;
    height: 70px;
    font-size: 20px;
  }
  /* FOOTER */
  footer .logo-footer img {
    width: 80px;
    height: 80px;
  }
  footer .redes {
    display: block;
  }
  footer .redes ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
  }
  /* ESTILOS DEL MENU */
  .main-menu .menu {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .main-menu .menu .card .text-card {
    font-size: 20px;
  }
  .main-menu .menu .card .text-card h2 {
    font-size: 25px;
  }
  .main-menu .menu .card .text-card p {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* ESTILOS DE LA UBI */
  .main-ubi {
    height: 80vh;
    align-items: center;
    align-content: center;
  }
  .main-ubi .cont-ubi {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 70% 10%;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  .main-ubi .cont-ubi h1 {
    grid-column: span 2;
  }
  .main-ubi .cont-ubi img {
    width: 100%;
    grid-row: span 1;
  }
  .main-ubi .cont-ubi .mapa {
    width: 400px;
    height: 400px;
    border-radius: 5px;
  }
  .main-ubi .cont-ubi p {
    grid-column: span 2;
    font-size: 30px;
  }
  /* ESTILOS DE ABOUT */
  .main-about {
    height: 80vh;
  }
  .main-about .cont-about {
    padding-top: 2rem;
  }
  .main-about .cont-about .text-about h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .main-about .cont-about .text-about p {
    font-size: 20px;
  }
}
/* ESTILOS DESKTOP */
@media screen and (min-width: 1024px) {
  .main-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
  }
  /* ESTILOS DE MENU */
  .main-menu {
    height: auto;
    align-content: center;
    align-items: center;
  }
  .main-menu .menu {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5rem;
    align-content: center;
    text-align: center;
    justify-content: center;
  }
  .main-menu .menu .card {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .main-menu .menu .card img {
    width: 40%;
  }
  .main-menu .menu .card .text-card p {
    font-size: larger;
  }
  .main-menu .menu .card .boton-card {
    width: 150px;
    height: 50px;
  }
  .main-menu .menu .card .boton-card a img {
    width: 25px;
    height: 25px;
  }
  /* ESTILOS DE UBI */
  .main-ubi {
    height: 80vh;
  }
  .main-ubi .cont-ubi {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 10% 70% 10%;
    gap: 1.5rem;
    align-content: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    column-gap: 0;
  }
  .main-ubi .cont-ubi img {
    width: 400px;
    height: 400px;
    border-radius: 5px;
  }
  /* ESTILOS DE CONTACTO */
  .main-contacto {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .main-contacto .cont-contacto {
    flex-direction: row;
    justify-content: center;
  }
  .main-contacto .cont-contacto .img-cont {
    width: 500px;
  }
  .main-contacto .cont-contacto .img-cont .avatar {
    width: 350px;
    height: 350px;
  }
  /* ESTILOS DE ABOUT */
  .main-about {
    align-content: center;
  }
  .main-about .cont-about {
    flex-direction: row;
  }
  .main-about .cont-about .text-about {
    padding: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
