//import de mixin
@import "../utilidades/mixin";
//import de variables
@import "../utilidades/variables";


//ESTILOS DEL INDEX
/* HEADER */
.bg-header{
    background-color: $color-navbar;
}
nav{
    div{
        a{
            .logo-rm{
                @include medidas(60px, 60px);
            }
        }
    }
}

/* MAIN */
.main-index{
    height: 75vh;
    margin-bottom: 20px;
    @include grid(grid, 1fr, repeat(2, 40%));
    .imagen-main{
        
        align-content: center;
        img{
            
            width: 90%;
            border-radius: 50%;
        }
    }
    .text-main{
        text-align: center;
        align-content: center;
        p{
            padding: 1rem;
        }
        button{
            @include medidas(90px,40px);
            @include botones;
            background-color: #8F2907;

            border: 2px solid #8F2907;
            a{
                color: $textos  ;
                text-decoration: none;

            }
        }
       
    }
}
/* FOOTER */
footer{
    background-color: $color-footer;
    color: $textos;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    .logo-footer{
        img{
            @include medidas(60px,60px)
        }
    }
    
    .redes{
        display: none;
    }
}

//---------------------------------------------------------------
//ESTILOS DEL MENU
/* ESTILOS DEL MENU */
.main-menu{
    height: 80vh;
    .titulo-menu{
        text-align: center;
        padding: 20px
    }
    .menu{
        @include grid(grid,1fr, repeat(4,1fr));
        padding-bottom: 1.5rem;
        .card{
            background-color:#FFFFB3 ;
            border: none;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img{
                width: 20%;
                object-fit: contain;
            }
            .text-card{
                font-size: 10px;
                h2{
                    font-size: 12px
                }
                p{
                    padding-left:5px;
                    padding-right: 5px;
                }
            }
            .boton-card{
                @include medidas(50px,50px);
                align-items: center ;
                @include botones;
                background-color: #8F2907;
                
                a{
                    img{
                        @include medidas(10px,10px);
                    }
                }
                
            }
            
        }
    }
}

//---------------------------------------------------------------
/* ESTILOS DE LA UBI */

.main-ubi{
    
    margin: 1rem;
    
    .cont-ubi{
        
        @include grid(grid, 1fr, 10% 35% 35% 10%);
        row-gap: 1rem;
        align-items: center;
            
        
        img{
            width: 50%;
            padding-bottom: 10px;
        }
    }
}


//---------------------------------------------------------------
/* ESTILOS DE CONTACTO */

.main-contacto{
    .cont-contacto{
        display: flex;
        flex-direction: column-reverse;
        div{
            form{
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 15px;
            }
        }
        .img-cont{ 
            text-align: center;
            
            .avatar{
                width: 50%;
                border-radius: 50%;
                padding-top: 15px;
                padding-bottom: 10px;
                
            }
        }
    }

    
}

//---------------------------------------------------------------
/* ESTILOS DE ABOUT */

.main-about{
    .cont-about{
        display: flex;
        flex-direction: column;

        .text-about{
            text-align: center;
            padding: 10px;
        }
    }

    .img-about{
        text-align: center;
        padding-bottom: 2rem;
        img{
            width: 80%;
        }
    }
}