//import de mixin
@import "../utilidades/mixin";
//import de variables
@import "../utilidades/variables";


//ESTILOS DEL INDEX
/* HEADER */
.bg-header{
    background-color: $color-navbar;
}
nav{
    div{
        a{
            .logo-rm{
                @include medidas(60px, 60px);
            }
        }
    }
}

/* MAIN */
.main-index{
    height: 75vh;
    margin-bottom: 20px;
    @include grid(grid, 1fr, repeat(2, 40%));
    .imagen-main{
        
        align-content: center;
        img{
            
            width: 90%;
            border-radius: 50%;
        }
    }
    .text-main{
        text-align: center;
        align-content: center;
        p{
            padding: 1rem;
        }
        button{
            @include medidas(90px,40px);
            background-color: #8F2907;
            border-radius: 15%;
            border: 2px solid #8F2907;
            cursor: pointer;
            &:hover{
                background-color: $color-principal;
                
            }
            a{
                color: $textos  ;
                text-decoration: none;

            }
        }
       
    }
}
/* FOOTER */
footer{
    background-color: #1E2D2F;
    color: $textos;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    .logo-footer{
        img{
            @include medidas(60px,60px)
        }
    }
    
    .redes{
        display: none;
    }
}

//---------------------------------------------------------------
//ESTILOS DEL MENU
/* ESTILOS DEL MENU */
.main-menu{
    .titulo-menu{
        text-align: center;
        padding: 20px
    }
    .menu{
        @include grid(grid,1fr, repeat(4,1fr));
        padding-bottom: 1.5rem;
        .card{
            border: none;
            margin-left: 2px;
            margin-right: 2px;
            padding: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            img{
                width: 20%;
            }
            .text-card{
                font-size: 10px;
                h2{
                    font-size: 12px
                }
                p{
                    padding-left:5px;
                    padding-right: 5px;
                }
            }
            .boton-card{
                @include medidas(50px,50px);
                align-items: center ;
                @include botones;
                
                
                a{
                    img{
                        @include medidas(10px,10px);
                    }
                }
                
            }
            
        }
    }
}