//import utilidades
@import "../utilidades/mixin";
@import "../utilidades/variables";


/* ESTILOS DESKTOP */
@media screen and (min-width: 1024px) {

    .main-index{
        @include grid(grid, repeat(2, 1fr), 1fr);

    }

    /* ESTILOS DE MENU */
    .main-menu{
        align-content: center;
        align-items: center;
        .menu{
            @include grid(grid, repeat(2,40%),repeat(2,1fr));
            justify-content: center;
            .card{
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
                img{
                    width: 40%;
                }
                .text-card{
                    p{
                        font-size: larger;
                    }
                }
                .boton-card{
                    @include medidas(150px,50px);
                    a{
                        img{
                            @include medidas(25px,25px);
                        }
                    }
                }
            }
        }
            
    }
}
