//import utilidades
@import "../utilidades/mixin";
@import "../utilidades/variables";


/* ESTILOS DESKTOP */
@media screen and (min-width: 1024px) {

    .main-index{
        @include grid(grid, repeat(2, 1fr), 1fr);

    }

    /* ESTILOS DE MENU */
    .main-menu{
        height: auto ;
        align-content: center;
        align-items: center;
        .menu{
            @include grid(grid, repeat(2,40%),repeat(2,1fr));
            justify-content: center;
            .card{
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
                img{
                    width: 40%;
                }
                .text-card{
                    p{
                        font-size: larger;
                    }
                }
                .boton-card{
                    @include medidas(150px,50px);
                    a{
                        img{
                            @include medidas(25px,25px);
                        }
                    }
                }
            }
        }
            
    }

    /* ESTILOS DE UBI */
    .main-ubi{
        height: 80vh;
        .cont-ubi{
            @include grid(grid, 40% 40%, 10% 70% 10% );
            justify-content: center;
            justify-items: center;
            column-gap: 0;
            img{
               
                @include medidas(400px,400px);
                border-radius: 5px;
                
            }
            
        }
        
    }

    /* ESTILOS DE CONTACTO */
    .main-contacto{
    
        padding-top: 3rem;
        padding-bottom: 3rem;
        .cont-contacto{
            flex-direction: row;
            justify-content: center;
        
            .img-cont{
                width: 500px;
                .avatar{
                    width: 350px;
                    height: 350px;
                }
               
            }
        }
    }

    /* ESTILOS DE ABOUT */
    .main-about{
        align-content: center;
        .cont-about{
            flex-direction: row;

            .text-about{
                padding: 2rem;
            }
        }
    }

}
